*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    text-align: left;
}
body{
    background-color: white;
}
header{
    padding: 1rem;
    width: 100vw;
}
section{
    display: inline-block;
}
header img{
    width: 100vw;
    padding: 0;
}
h1{  
    font-size: 2.3rem;
    margin-left: 2rem;
    width: 80%;
    text-align: center;
    z-index: 3;
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: yellow;
    border-radius: 2.3rem;
    color: black;
}
.logo{
    width:200px;
    position: absolute;
    right: 60px;
    bottom: -70px;
}
.logo img{
    background-color: transparent;
    width:200px;
    position: relative;
    right: 0;
    bottom: 0;
}
h2{
    height: 3rem;
    background-color: black;
    color: white;
    text-align: center;
}
section{
    position: relative;
    width: 100vw;
    display: inline-block;
}
main{
    display: flex;
    text-align: left;
    height: 100vh;
}

main div> a{
    display: flex;
    text-align: left;
    padding: 0.6rem;
    font-weight: bolder;
    color: blue;
    background-color: yellow;
    flex-direction: row;
    border-radius: 1rem;
    text-decoration: none;
}
.sublist{
    list-style-type:lower-latin;
}
.list{
    list-style-type: circle;
}
.footer{
    display: flex;
    flex-direction: row;
}

a[href="#"]{
    color: black;
    text-decoration: none;
    background-color: blue;
}
a:hover{
    color: white;
    background-color: black;
}
.form div>nav{
    padding: 1rem;
    margin: 1rem;
}
.map{
    position: relative;
    top: -200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}