*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    text-align: left;
}
body{
    background-color: white;
}
header{
    padding: 1rem;
    width: 100vw;
}
section{
    display: inline-block;
}
header img{
    width: 100vw;
    padding: 0;
}
h1{  
    font-size: 2.3rem;
    margin-left: 2rem;
    width: 80%;
    text-align: left;
    z-index: 3;
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: transparent;
}
.logo{
    width:200px;
    position: absolute;
    right: 60px;
    bottom: -70px;
}
.logo img{
    background-color: transparent;
    width:200px;
    position: relative;
    right: 0;
    bottom: 0;
}
h2{
    height: 3rem;
    background-color: black;
    color: white;
    text-align: center;
}
section{
    position: relative;
    width: 100vw;
    display: inline-block;
}
section nav{
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
    display: inline-block;
    position: absolute;
    left: 50px;
}
main div{
    display: inline-block;
    position: relative;
    top: -120px;
    width: 60%;
    height: 90%;
    padding: 1rem;
    padding: 1rem;
    vertical-align:top;
}
main{
    display: inline-block;
    text-align: center;
    width: 100vw;
}
main div>h3{
    text-align: left;
}
nav{
    display: block;
}
nav a{
    position: relative;
    left: 50px;
    display: block;
    width: 8rem;
    height: 2.5rem;
    text-align: center;
    padding: 0.6rem;
    font-weight: bolder;
    color: blue;
}
a[href="#"]{
    color: black;
    text-decoration: none;
}
.subtitulo{
    display: inline-block
}